<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Agent Server by Cooper</title>
    <link rel="stylesheet" href="../css/index.css" />
</head>
<body>
<div class="sidebar">
    <div class="sidebar-header">
        <h2>Agent Server</h2>
        <p>by Cooper</p>
    </div>
    <nav class="sidebar-nav">
        <button data-tab-id="home" class="active">
            <span class="icon"><i class="fas fa-house"></i></span> Home
        </button>
        <button data-tab-id="apps" data-target-url="../views/apps.html">
            <span class="icon"><i class="fas fa-rocket"></i></span> Apps
        </button>
        <button data-tab-id="bios" data-target-url="../views/bios.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> BIOS
        </button>
        <button data-tab-id="connections" data-target-url="../views/connections.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> Connections
        </button>
        <button data-tab-id="dns" data-target-url="../views/dns.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> DNS
        </button>
        <button data-tab-id="kernels" data-target-url="../views/kernels.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> Kernels
        </button>
        <button data-tab-id="files" data-target-url="../views/files.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> Files
        </button>
        <button data-tab-id="system" data-target-url="../views/system.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> System
        </button>
        <button data-tab-id="registry" data-target-url="../views/registry.html">
            <span class="icon"><i class="fas fa-cogs"></i></span> Registry
        </button>
        <button data-tab-id="processes" data-target-url="../views/processes.html">
            <span class="icon"><i class="fas fa-chart-bar"></i></span> Processes
        </button>
        <button data-tab-id="hardware" data-target-url="../views/hardware.html">
            <span class="icon"><i class="fas fa-chart-bar"></i></span> Hardware
        </button>
        <button data-tab-id="virustotal" data-target-url="../views/virustotal.html">
            <span class="icon"><i class="fas fa-chart-bar"></i></span> Virus Total
        </button>
    </nav>
    <div class="sidebar-footer">
        Agent Server v1.0.0
    </div>
</div>

<div class="content">
    <div id="home" class="static-tab active">
        <h1>Welcome to Agent Server.</h1>
    </div>

    <div id="tab-container"></div>
</div>

<script src="../javascripts/index.js"></script>
<script src="../javascripts/global.js"></script>
</body>
</html>
