<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Programs and Features</title>
    <link rel="stylesheet" href="../css/apps.css" />
</head>
<body>
<main>
    <h1>Kernels Information</h1>
    <div class="controls">
        <select id="client-select" aria-label="Select Client"></select>
        <button id="client-btn">Load Client</button>
        <button id="fetch-btn">Fetch Info</button>
    </div>

    <div class="table-container">
        <table id ="table-kernels">
            <thead>
            </thead>
            <tbody></tbody>
        </table>
        <div id="error-alert"></div>
    </div>
</main>
</body>
</html>
